/*     
*                stylerino.css         
*       Stylesheet for Translaterino
*                 William Xie
 */

/* Title and Header */
.top {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;
}

#main-title {
	color: #000;
	font-family: Lato-Light;
	font-size: 56px;
	text-transform: uppercase;
}

#description {
	font-family: Lato;
	font-size: 15px;
	text-transform: uppercase;
}

.help-nav {	
	margin: 0 auto;
	padding: 0;

	font-family: Lato-Light;
	font-size: 16px;
	list-style-type: none;
	text-align: center;
	text-transform: uppercase;
}

.help-nav li {
	display: inline-block;
	padding: 10px;
}

.help-nav li a {
	padding: 5px;
	text-decoration: none;
}

.help-nav li a:hover {
	border-bottom: 1px solid #999;
	cursor: pointer;
}

/* Link Content */

.link-content {
	padding-left: 20%;
	padding-right: 20%;

	font-family: Lato-Light;
	font-size: 16px;
}

.lit-list {
	list-style-type: none;
	text-align: center;
	text-transform: uppercase;
}

.lit-list li {
	display: list-item;
}

.lit-list li a {
	text-decoration: none;
}

#lebowski {
	text-decoration: none;
}

.pillar {
	margin: 0;
	padding: 0;
}

/* Input/Output Content */
.content {
	margin-top: 25px;
	text-align: center;
}

#text-input {
	width: 400px;
	max-width: 600px;
}

#output-title {
	margin-top: 10px;

	font-family: Lato-Light;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}

#text-output {
	margin-top: 25px;
	margin-left: 15%;
	margin-right: 15%;

	font-family: Lato;
	font-size: 18px;
}

/* Fonts */

@font-face {
	font-family: Lato-Light;
	src: url(../fonts/Lato/Lato-Lig.ttf);
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-Reg.ttf);
}