/* @name stylerino.css 
 / @author William Xie
 / #
 / @desc Stylesheet for Translaterino
 / -------------------------------------------------------
*/

/* Title and Header */
.top {
	text-align: center;
	padding-bottom: 20px;
}

#main-title {
	font-size: 48px;
}

#description {
	font-size: 18px;
}

#whatis {
	font-size: 14px;
}

#warning {
	font-size: 11px;
}

/* Input/Output Content */
.content {
	text-align: center;
}

#text-input {
	width: 400px;
}

#text-output {
	height: auto;
	padding-left: 5%;
	padding-right: 5%;
}